<!DOCTYPE html>
<html lang="en">
				<div th:replace="fragments/header :: header">&nbsp;</div>
				<body>
					<div id="wrap">	
						<div th:replace="fragments/header :: navbar">&nbsp;</div>
						
						 <div class="container">
							        <div class="page-header">
							          <h1>Error Page</h1>
							        </div>
							        <p class="lead">Oops you broke the server..... you're in BIG trouble now buddy....!!!!!!</p>
							      </div>
						
							      <div id="push"></div>
   							 </div>
						   	    
						    <div th:replace="fragments/footer :: 'footer'">&copy; 2013 The Static Templates</div>
   
				</body>
</html>